# Dist directory
dist/

# Dependencies directory
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env

# SSL certificates directory
ssl-certs/*
!ssl-certs/.gitkeep

# Database files
/db/
